.App {
  text-align: center;
}

.hero-bg{
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.801), rgba(22, 1, 16, 0.808)),url('../src/wallpaperflare.com_wallpaper.jpg'); 
  background-repeat: no-repeat;
  
}

.img-bg{
  background: linear-gradient(360deg, #000000 9.09%, rgba(0, 0, 0, 0) 89.77%);

}

.station-bg{
  background:radial-gradient(50% 50% at 50% 50%, rgba(31, 31, 31, 0.7695) 0%, rgba(22, 22, 22, 0.95) 100%), url(../public/live-TV-Streaming.jpeg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}