.App {
  text-align: center;
}

.hero-bg{
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.815), rgba(22, 1, 16, 0.877)),url('../src/wallpaperflare.com_wallpaper.jpg'); 
  
}

.img-bg{
  background: linear-gradient(360deg, #000000 9.09%, rgba(0, 0, 0, 0) 89.77%);

}